.*
# do not allow any image-related files
*.image
*.sources
*.changes

# Ignore Bochs related files that are generated or downloaded
processors/IA32/bochs/config.guess
processors/IA32/bochs/config.sub

processors/IA32/macbochs/bios
processors/IA32/macbochs/bochsconfig.h
processors/IA32/macbochs/build
processors/IA32/macbochs/bx_debug
processors/IA32/macbochs/bxversion*
processors/IA32/macbochs/config.h
processors/IA32/macbochs/config.status
processors/IA32/macbochs/cpu
processors/IA32/macbochs/disasm
processors/IA32/macbochs/fpu
processors/IA32/macbochs/gui
processors/IA32/macbochs/host
processors/IA32/macbochs/instrument
processors/IA32/macbochs/iodev
processors/IA32/macbochs/doc
processors/IA32/macbochs/ltdlconf.h
processors/IA32/macbochs/Makefile
processors/IA32/macbochs/memory
processors/IA32/macbochs/misc
processors/IA32/macbochs/a.out.dSYM
